<div class="row">
    {{#each productInCart}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{productName}}
                </h4>
                <img src="{{photo}}" height="100"></img>
                <p>{{description}}</p>
                <p>Code: {{code}}</p>
                <p> $ {{price}}</p>
                <p>In Stock: {{stock}}</p>

                <form action="/cart/removeProduct/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        Remove from Cart
                    </button>
                </form>

            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">There are no Products in the Cart.</p>
            <a href="/product" class="btn btn-success btn-block">Go Shopping!</a>
        </div>
    </div>
    {{/each}}
</div>